*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    height: 100%;
    width: 100%;
    background-color: rgb(237, 238, 240);
}

div{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 18px;
}

#name{
    height: 180px;
    width: 100%;
    color: white;
    background-color: rgb(35, 31, 59);
}
#name h2{
    font-size: 35px;
}
#name p{
    background-color: transparent;
    font-style: italic;
    font-weight: 100;
}

#aboutme{
    height: 200px;
    width: 85%;
    color: black;
    background-color: white;
    border-radius: 5px;
}
#aboutme p{
    font-size: 20px;
    width: 90%;
}

#education{
    height: 210px;
    width: 85%;
    color: black;
    background-color: #CFE9FF;
    border-radius: 5px;
}
#education p{
    width: 70%;
}

#skills{
    height: 300px;
    width: 85%;
    color: black;
    background-color: #FFF2CC;
    border-radius: 5px;
}
#skills p{
    font-weight: 700;
}

#projects{
    height: 260px;
    width: 85%;
    color: black;
    background-color: #E5E1FF;
    border-radius: 5px;
}
#projects p{
    font-style: italic;
}

#contactme{
    height: 260px;
    width: 85%;
    color: black;
    background-color: #D9F7E6;
    border-radius: 5px;
}

#skills p{
    width: 60%;
}
h2{
    padding-top: 50px;
    padding-bottom: 20px;
}
p{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-radius: 3px;
    font-weight: 100;
}

#footer{
    height: 80px;
    width: 100%;
    color: white;
    background-color: rgb(35, 31, 59);
    display: flex;
    align-items: center;
}
#footer p{
    background-color: transparent;
}